.App{
height: 70vh;
width:50%;
text-align: center;
background: pink;
background-image: url('https://thumbs.dreamstime.com/b/city-sketch-urban-panorama-part-district-river-front-minimum-color-no-gradient-vector-hand-drawing-68467155.jpg');
background-image: cover;
background-repeat: no-repeat;
background-size: 100%;
position: relative;
left: 15vh;
box-shadow: 5px 5px #888888;
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.Attribution {
  position: relative;
  left: 140px;
}

ul{
  list-style: none;
  text-align: left;
}

li.temperature{
  font-size: 50px;
}
.icon{
  position: relative;
  bottom:25vh;
  color: #E7BB41;
}

h1{
  color: #474056
}

form input{
color: #aa7bc3;
}

.Search{
  background-color: #F97068;
  border: #D2BF55;
}